body
{
    font-family: Muli,'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif !important;
    /*font-family: 'ff-tisa-web-pro-1', 'ff-tisa-web-pro-', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei', 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'WenQuanYi Micro Hei', sans-serif !important;*/
    font-size: 14px;
    font-weight: 400;
    font-style: normal;

    min-width: 1025px;
    margin: 0;
    padding: 0;
    padding-top: 75px;

    color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: Muli,'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif;
}
*
{
    box-sizing: border-box;
}
/*header*/
header
{
    position: fixed;
    z-index: 1001;

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;

    width: 100%;
    height: 75px;

    -webkit-box-pack: justify;

    -webkit-justify-content: space-between;

        -ms-flex-pack: justify;

            justify-content: space-between;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
}
header .mw-8
{
    min-width: 800px;
}
header .nav-left
{
    float: left;
    text-align: left;
}
header .nav-right
{
    float: right;
}
header a.logo
{
    line-height: 75px;

    display: block;

    width: 147px;
    height: 75px;
    margin-left: 60px;

    
    padding-top:6px;
}

header a
{
    text-decoration: none;

    color: white;
}
header .nav
{
    margin: 0;
    padding: 0;

    list-style: none;
}
header .nav > li
{
    font-size: 16px;
    line-height: 75px;

    display: inline-block;

    width: 144px;
    height: 75px;

    text-align: center;
}
header .nav > li > a
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 44px;
    margin-top: 15px;
    padding:0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
    -webkit-align-items:center;
        -ms-flex-align:center;
            align-items:center;
}
header .nav > li:hover > a
{
    background-color: rgba(0,0,0,.85);
}
header .unauthenticated
{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-align-items: center;
    align-items: center;
    text-align: center;

    height: 75px;
    margin: 0 50px 0 40px;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
}

header .unauthenticated > a
{
    font-size: 14px;

    display: inline-block;

    padding: 8px 22px;

    color: white;
    border: 1px solid;
    border-radius: 3px;
    text-decoration: none;
}
header .unauthenticated > a:hover
{
    color: #9bc200;
    border-color: #9bc200;
    text-decoration: none;
}
header .unauthenticated > a:last-child
{
    border-color: #89AE00;
    color: white !important;
    background-color: #89AE00;
}
header .unauthenticated > a:last-child:hover
{
    background: #9bc200;
    border-color: #9bc200;
}
header .unauthenticated > span
{
    width: 10px;
}
header .nav > li:hover .nav-list
{
    display: block;
}
header .nav-list
{
    line-height: 100%;

    position: absolute;
    top: 75px;

    display: none;

    margin: 0;
    padding: 0;

    list-style: none;

    text-align: left;
    transition: all .2s ease 0s;
}
header .nav-list > .nav-list-item
{
    position: relative;

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;      /*NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-align-items: center;
    align-items: center;
    text-align: center;

    width: 230px;
    height: 76px;
    margin-top: 1px;

    color: white;
    background-color: rgba(0,0,0,.95);
}
.mouse .nav-list{
    top:0;
}
.mouse2 .nav-list{
    top:-1px;
}
.single-nav-list .nav-list{
    position: absolute;
    top: 59px;
}
.nav-list.pointer{
    position:absolute;
    top: 59px;
}
.light .nav-list.pointer_right{
    border-left:1px solid #d9d9d9;
}
.light .mouse .a:hover .nav-left{
    color:#000;
}
.light .mouse{
    position:absolute;
    /*display:none;*/
    height: 270px;
    /*top:75px;*/
    left:195px;
}
.light .mouse .pointer_right{
    width: 342px;
    height: 225px;
}
.light .mouse1{
    width: 342px;
    height: 225px;
    /*top:-75px;*/
}
.light .mouse2{
    width: 342px;
    height: 225px;
    top:-45px;
}
.pointer{
    float:left;
    width: 195px;
    height: 270px;
    background-color: rgba(0,0,0,.85);
    box-sizing: border-box;
    /*display:none;*/
}
.nav-list.pointer_right{
    width: 320px;
    height: 200px;
    border-left:1px solid #2d2d2d;
    float:left;
}
.nav-pointer a:hover{
    width: 320px;
    height: 68px;
}
.nav-list.pointer_right .nav-list-item{
    width: 320px;
    height: 68px;
    margin-top:10px;
    margin-left:10px;
    background-color: #202223;
}
.nav-list.pointer_right .nav-list-item1{
    margin-top:10px;
}
.pointer_right a{
    display:inline-block
}
.nav-list.pointer{
    width: 195px;
    /*height: 270px;*/
    height: 225px;

    /*margin-top:20px;*/
}
.pointer a{
    position:relative;
    display:inline-block;
}
.pointer a:hover{
    color:#fff;
}
/*.pointer a:hover i{
    color:#fff;
}*/
#operatingApp .operatingApp_link{
    justify-content: space-between;
}

.pointer .APP{
    margin-left:30px;
}
.nav-list.pointer i{
    position:absolute;
    right:8px;
    color:#575a4d;
    /*color:red;*/
    font-size:16px;
    width: 20px;
    height: 20px;
    top: 12px;
    line-height: 20px;
}
.icon-angle-right{
    margin-right:3px;
}
.mousein{
    position:relative;
}
.mouse{
    width: 342px;
    height: 270px;
    /*background-color: rgba(0,0,0,.85);*/
    position:absolute;
    top:20px;
    display:none;
}
.mouse a{
    display:inline-block;
}
.mouse1{
    top:-1px;
}
.mouse2{
    top:-42px;
}
.nav-list.pointer .nav-link{
    height: 76px;
    display:inline-block;
}
.nav-list.pointer .mousein,.nav-list.pointer .mouseout{
    background-color:rgba(0,0,0,0.2) ;
}
header .nav-list.pointer > .nav-list-item{
    width: 195px;
    height: 40px;
    line-height:40px;
}
header .nav-list.single > .nav-list-item
{
    width: 144px;
    height: 44px;
}

header .nav-list > .nav-list-item .nav-left.icon
{
    padding-right: 16px;
    padding-left: 22px;
}

header .nav-list > .nav-list-item .nav-link
{
    position: relative;
    z-index: 1;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    width: 100%;
    height: 76px;
}
header .nav-list.pointer > .nav-list-item .nav-link
{
    height: 44px;
}
header .nav-list.single > .nav-list-item .nav-link
{
    height: 44px;
}
header .nav-list > .nav-list-item > a
{
    z-index: 1;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    height: 100%;
    text-decoration: none;
}
header .nav-list > .nav-list-item > a:hover
{
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;

    background-color: rgba(255,255,255,0.2);
    text-decoration: none;
}
header .nav-list > .nav-list-item .nav-title
{
    font-size: 14px;

    display: inline-block;

    margin-bottom: 6px;
}
header .nav-list.pointer > .nav-list-item .nav-link
{
    font-size: 14px;
    margin-bottom: 0;
    height:100%;
}
header .nav-list.single > .nav-list-item .nav-link
{
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
    display: inline-block;
    line-height: 44px;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    
}
header .nav-list > .nav-list-item .nav-description
{
    font-size: 12px;

    display: block;
}
header .i_superwebview
{
    display: inline-block;

    width: 30px;
    height: 30px;

    background-image: url('../img/subment_icon2.png');
    background-position: -30px -30px;
    /*background-position: 0 -30px;*/
}
header .i_deepengine
{
    display: inline-block;

    width: 30px;
    height: 30px;

    background-image: url('../img/subment_icon2.png');
    background-position: 0px -30px;
}
header .i_cloudservice
{
    display: inline-block;

    width: 30px;
    height: 30px;

    background-image: url('../img/subment_icon2.png');
    background-position: -60px -30px;
}
header .i_cloudoperating
{
    display: inline-block;

    width: 30px;
    height: 30px;

    background-image: url('../img/subment_icon2.png');
    background-position: -90px -30px;
}
header .authenticated
{
    width:235px;
    position: relative;

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -ms-box-orient:horizontal;
    -webkit-flex-direction:column;
    flex-direction:column;
    margin-top: 15px;
    height: 75px;
    margin: 0 40px 0 30px;

    cursor: pointer;

    text-align: center;
}
header .authenticated .profile
{
    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;
    line-height: 30px;
    padding: 0 10px;
    padding-left: 20px;
    color: white;
    -webkit-box-align: center;

    -webkit-align-items: center;

        -ms-flex-align: center;

            align-items: center;
    height: 44px;
    margin-bottom: 1px;
    position: relative;
    top: 18px;
}
header .authenticated .profile img
{
    width: 30px;
    height: 30px;
    margin-right: 3px;

    border-radius: 15px;
}
header .authenticated  .arr-b
{
    display: inline-block;

    width: 19px;
    height: 18px;
    margin-left: 10px;

    vertical-align: middle;

    background: rgba(0, 0, 0, 0) url('../img/arr_b.png') no-repeat scroll 0 0;
}
header .authenticated:hover .profile
{
    transition: all .2s ease 0s;

    background-color: rgba(0,0,0,.5);
}
header .authenticated:hover .nav-list
{
    left: 0;

    display: block;
}
header .authenticated .nav-list .nav-list-item
{
    width: 164px;
}
header .authenticated .nav-list .nav-list-item > a
{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-align-items: center;
    align-items: center;
    text-align: center;

    width: 100%;
    padding: 0 22px;
}
header .authenticated .nav-list .nav-list-item > a i
{
    font-size: 20px;

    margin-top: 3px;
}

header .authenticated .nav-list .nav-list-item > a span
{
    font-size: 14px;

    margin-left: 7px;
}
header.light
{
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
header.light
{
    background-color: rgba(255, 255, 255, .97);
}
header.light a
{
    color: #666;
}
header.light a.logo .st1
{
    /*background: url(/img/logo-dark.png) no-repeat left center;*/
    fill:#4d4d4d;
}
header.light .i_superwebview{
    background-position: -30px 0;
}
header.light .i_deepengine{
    background-position: 0 0;
}
header.light .i_cloudservice
{
    background-position: -60px 0;
}
header.light .i_cloudoperating
{
    background-position: -90px 0;
}
header.light .link-group .links
{
    color: #ababab;
}
header.light .link-group a,
header .link-group span
{
    color: #61685b;
}
header.light .link-group a:hover{
    color: #9bc200;
}
header.light .nav > li:hover > a
{
    transition: all .2s ease 0s;
    background-color: rgba(0,0,0,.02);
}
header.light .authenticated:hover .profile
{
    transition: all .2s ease 0s;

    background-color: rgba(0,0,0,.02);
}
header.light .nav-list
{
    /*top: 75px;

    overflow: hidden;*/

    border-radius: 0 0 3px 3px;
    background-color: white;
    box-shadow: 0 7px 21px rgba(0, 0, 0, .1);
}
.light .single-nav-list .nav-list{
    position: absolute;
    top: 75px;
}
.light .nav-list.pointer{
    position:absolute;
    top: 75px;
}
header.light .nav-list .nav-list-item a:hover .nav-left{
    color:#000;
}
header.light .nav-list .nav-list-item a:hover .APP{
    color:#666;
}
header.light .nav-list.single > .nav-list-item
{
    height: 44px;
}
header.light .nav-list.pointer > .nav-list-item
{
    height: 44px;
}
header.light .nav-list > .nav-list-item
{
    background-color: rgba(255,255,255,.97);
}
header.light .nav-list > .nav-list-item > a:hover
{
    transition: all .2s ease 0s;

    background-color: rgba(0,0,0,.1);
}
header.light .authenticated .profile
{
    color: #666;
}

header.dark{
    background-color: rgba(0,0,0,.2);
}
header.dark .nav > li:hover > a{
    transition: all .2s ease 0s;
    background-color: rgba(255,255,255,.02);
}
header.dark .single.nav-list,header.dark .pointer,header.dark .pointerbgc
{
    top: 75px;
}
header.dark .authenticated:hover .profile
{
    transition: all .2s ease 0s;

    background-color: rgba(255,255,255,.02);
}
.nav-right li{
    letter-spacing:1px;

}
#operatingApp:hover .mouse1{
    display:block;
}
#operatingCloud:hover .mouse2{
    display:block;
}
#operatingApp ,#operatingCloud{
    display:block;
}
.operatingApp_link{
    display:inline-block;
}
.operatingCloud_link{
    display:inline-block;
}
.APP{
    margin-left:-86px;
}
.badge-red:after{
    display: inline-block;
    content: " ";
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #ee3131;
    position: relative;
    top: -0.5em;
    right: -0.3em;
}